<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/movies-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="movie">
      {{ movie.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="spinner" *ngIf="loading"></div>

  <ion-card [ngClass]="{'margin-extra': error}" class="error-card animated bounceIn" *ngIf="error">
    <ion-card-content>
      <div class="auto">
        <ion-icon class="slideInDown animated infinite" slot="start" name="arrow-down"></ion-icon>
      </div>
      <h1>🤕</h1>
      <h3>Uh Oh</h3>
      <h5>Sorry, something went wrong.</h5>
      <div class="auto">
        <span>Slide down to Retry </span>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- placeholder -->
  <div class='placeholder' *ngIf="loading">
    <div id="gbImage" class="movie-header">
    </div>

    <div class="movie-summary">
      <div class="poster">
        <div class="content">
          <img src="" alt="">
        </div>
      </div>

      <div class="item-content">
        <ion-skeleton-text animated width="60%"></ion-skeleton-text>
        <ion-skeleton-text animated width="60%"></ion-skeleton-text>
        <ion-skeleton-text animated width="30%"></ion-skeleton-text>
        <ion-skeleton-text animated width="30%"></ion-skeleton-text>
      </div>

    </div>
  </div>


  <!-- movie banner -->
  <div *ngIf="movie">
    <div class="movie-header">
      <img onerror="this.src='./assets/placeholder.lg.png'" class='animated fadeIn' [src]="fanart.images.fanart" />
    </div>

    <div class="movie-content animated bounceIn" padding>
      <div class="movie-summary">
        <div class="poster">
          <div class="content">
            <img onerror="this.src='./assets/placeholder.movie.png'" [src]="movie.images.banner" />
          </div>
        </div>

        <div class="item-content">
          <span class="title">{{ movie.title }}</span>
          <span class="genre ">{{ movie.genres | join: ' | ' }}</span>
          <span class="country">{{ movie.rating.votes }} votes |
            {{ movie.certification || 'PG' }}</span>

          <span class="line">
            <span class="date">{{ movie.released*1000 | date: 'mediumDate' }} | </span>
            <span class="time"> {{ movie.runtime || 0 }} mins </span>
          </span>

          <!-- services rating -->
          <div class="ratings">
            <div class="imdb">
              <span>imdb <span class="nb">{{ movie.rating.percentage/10 }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="movie-more">
        <!-- <span><span class="key">Director: </span>{{movie.director}}</span> -->
        <span class="description"><span class="key">Storyline: </span>
          {{ movie.synopsis }}</span>
      </div>

      <div class="movie-more-1">
        <span><span class="key">Cast: </span></span>
        <ion-slides [options]="sliderConfig">
          <ion-slide *ngFor="let item of [1,2,3,4]">
            <div>
              <div class="img">
                <!-- <img [src]="item.url_small_image" alt="" /> -->
              </div>
              <p>{{ item.name || 'N/A'}}</p>
              <p class="small">as</p>
              <p class="characterName">{{ item.character_name || 'N/A' }}</p>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>

  <ion-fab *ngIf="movie" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="animated fadeIn">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
    <ion-fab-list *ngIf="movie.torrents" side="start">
      <ion-fab-button *ngIf="movie.torrents.en['720p']" (click)="download(movie.torrents.en['720p'])">720p
      </ion-fab-button>
      <ion-fab-button *ngIf="movie.torrents.en['1080p']" (click)="download(movie.torrents.en['1080p'])">1080p
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>