<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!enableSearch">Movies</ion-title>

    <ion-buttons slot="end">
      <ion-button class="search" *ngIf="!enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button class="search" *ngIf="enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar #input animated (ionBlur)='togleSearch()' debounce='1000' class="search" *ngIf="enableSearch"
      (ionClear)='ionClear()' (ionChange)='ionChange(input.value)' placeholder="Search Movies">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)='ionScroll($event)' (ionScrollEnd)="ionScrollEnd($event)" [scrollEvents]="true" padding
  class="page-content">

  <div *ngIf="movies.length > 0">
    <div class="spinner" *ngIf="loading"></div>
  </div>

  <div>
    <div *ngIf="movies.length > 0">
      <div>
        <div class="movies current">
          <div *ngFor="let item of movies | truthify | unique" class="movie-detail animated fadeIn" tappable>
            <div class="poster">
              <div id="img-content" class="content">
                <img onerror="this.src='./assets/placeholder.movie.png'" class="animated fadeIn"
                  (click)="onNavigate(item._id ,item.imdb_id)" src="{{item.images.poster }}">
              </div>
            </div>
            <div class="item-content">
              <span (click)="onNavigate(item._id,item.imdb_id)" class="title">
                {{item.title}}</span>
              <span class="genre">{{item.genres | join:" | "}}</span>
              <span class="line">
                <span class="date">{{item.year}} | </span>
                <span class="date">{{item.certification || 'PG'}} | </span>
                <span class="time">{{item.runtime}} mins</span>
              </span>

              <span class="country">{{item.language}}</span>
              <!-- services rating -->
              <div class="ratings">
                <div class="imdb">
                  <span>imdb
                    <span class="nb">{{
                      item.rating.percentage / 10
                    }}</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!--If the page is loading show placeholders-->
  <div class="spinner" *ngIf="loading"></div>


  <ion-card [ngClass]="{'margin-extra': error}" class="animated bounceIn" class="error-card" *ngIf="error">
    <ion-card-content>
      <h1>😵</h1>
      <h3 class='eina'>Uh Oh</h3>
      <h5>Sorry, something went wrong.</h5>
      <div class="auto">
        <ion-button (click)="showMovies()" color="danger" fill="outline" shape="round">
          RETRY
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="animated fadeIn" (click)='scrollTo()'>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- placeholder -->
  <div class='animated fadeIn' *ngIf="loading ||placeholder ||loading_i">
    <div class="movies current">
      <div *ngFor="let i of [1,2,3,4]" class="movie-detail loading">
        <div class="poster">
          <div class="content">
          </div>
        </div>
        <div class="item-content">
          <ion-skeleton-text animated width="60%"></ion-skeleton-text>
          <ion-skeleton-text animated width="60%"></ion-skeleton-text>
          <ion-skeleton-text animated width="30%"></ion-skeleton-text>
          <ion-skeleton-text animated width="30%"></ion-skeleton-text>
        </div>

      </div>
    </div>
  </div>

  <ion-infinite-scroll threshold='50%' (ionInfinite)="showMovies($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more Movies...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>