<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!enableSearch">Anime</ion-title>

    <ion-buttons slot="end">
      <ion-button class="search" *ngIf="!enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

      <ion-button class="search" *ngIf="enableSearch" (click)="togleSearch()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar #input animated='true' debounce='2000' class="search" *ngIf="enableSearch" (ionClear)='ionClear()'
      (ionChange)='ionChange(input.value)' placeholder="Search Anime"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content padding (ionScroll)='ionScroll($event)' (ionScrollEnd)="ionScrollEnd($event)" [scrollEvents]="true"
  class="page-content">

  <ion-refresher slot="fixed" (ionRefresh)="Anime=[];page=1;ShowAnime()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="spinner" *ngIf="loading && Anime.length> 0"></div>

  <div>
    <div class='animated fadeIn' *ngIf="Anime.length> 0">
      <div>
        <div class="movies current">
          <div *ngFor="let show of Anime |truthify |unique" class="movie-detail" tappable>
            <div class="poster">
              <div id="img-content" class="content">
                <img onerror="this.src='./assets/placeholder.show.png'" (click)="onNavigate(show.imdb_id)"
                  src="../../../../assets/default_poster.png">
              </div>
            </div>
            <div class="item-content">
              <span (click)="onNavigate(show._id)" class="title">{{show.title}}</span>
              <span class="country year">{{show.year}}</span>

              <!-- services rating -->
              <div class="ratings">
                <div class="imdb">
                  <span>imdb <span class="nb">{{show.rating.percentage/10}}</span></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- show error dialog if an error occure -->
    <ion-card [ngClass]="{'margin-extra': error}" class="animated bounceIn" class="error-card" *ngIf="error">
      <ion-card-content>
        <h1>🤕</h1>
        <h3>Uh Oh</h3>
        <h5>Sorry, something went wrong.</h5>

        <div class="auto">
          <ion-button color="danger" class="retry-button" (click)="ShowAnime()">
            RETRY
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="spinner" *ngIf="loading"></div>

    <!--If the page is loading Animations placeholders-->
    <div class='animated fadeIn' *ngIf="loading || placeholer">
      <div class="movies current">
        <div *ngFor="let i of [1, 2, 3, 4]" class="movie-detail loading">
          <div class="poster">
            <div class="content">
            </div>
          </div>
          <div class="item-content">
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
            <ion-skeleton-text animated width="30%"></ion-skeleton-text>
            <ion-skeleton-text animated width="30%"></ion-skeleton-text>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ion-fab *ngIf="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="animated fadeIn" (click)='scrollTo()'>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-infinite-scroll threshold='50%' (ionInfinite)="ShowAnime($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading More Anime...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>